<?xml version="1.0"?>
<!--
/**
 * Copyright © Lyra Network.
 * This file is part of PayZen plugin for Magento 2. See COPYING.md for license details.
 *
 * @author    Lyra Network (https://www.lyra.com/)
 * @copyright Lyra Network
 * @license   https://opensource.org/licenses/osl-3.0.php Open Software License (OSL 3.0)
 */
-->

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <payzen>
            <general>
                <support_email><![CDATA[support@payzen.eu]]></support_email>
                <plugin_version>2.10.0</plugin_version>
                <gateway_version>V2</gateway_version>
                <cms_identifier>Magento_2.x</cms_identifier>
                <enable_logs>1</enable_logs>

                <site_id>12345678</site_id>
                <key_test>1111111111111111</key_test>
                <key_prod>2222222222222222</key_prod>
                <ctx_mode>TEST</ctx_mode>
                <sign_algo>SHA-256</sign_algo>
                <gateway_url>https://secure.payzen.eu/vads-payment/</gateway_url>
                <notify_url>payzen/payment/check</notify_url>

                <rest_private_key_test backend_model="Magento\Config\Model\Config\Backend\Encrypted" />
                <rest_private_key_prod backend_model="Magento\Config\Model\Config\Backend\Encrypted" />
                <rest_return_key_test backend_model="Magento\Config\Model\Config\Backend\Encrypted" />
                <rest_return_key_prod backend_model="Magento\Config\Model\Config\Backend\Encrypted" />
                <rest_notify_url>payzen/payment_rest/check</rest_notify_url>
                <rest_url>https://api.payzen.eu/api-payment/</rest_url>
                <static_url>https://static.payzen.eu/static/</static_url>
                <logo_url>https://secure.payzen.eu/static/latest/images/type-carte/</logo_url>

                <language>fr</language>
                <validation_mode></validation_mode>

                <redirect_enabled>0</redirect_enabled>
                <redirect_success_timeout>5</redirect_success_timeout>
                <redirect_success_message>Redirection to shop in a few seconds...</redirect_success_message>
                <redirect_error_timeout>5</redirect_error_timeout>
                <redirect_error_message>Redirection to shop in a few seconds...</redirect_error_message>
                <return_mode>POST</return_mode>
                <refill_cart>1</refill_cart>
                <registered_order_status>processing</registered_order_status>
                <capture_auto>1</capture_auto>
                <invoice_capture>0</invoice_capture>

                <send_cart_detail>1</send_cart_detail>
                <common_category>FOOD_AND_GROCERY</common_category>

                <online_transactions_currency>1</online_transactions_currency>
            </general>
        </payzen>

        <payment>
            <payzen_standard translate="title">
                <model>Lyranetwork\Payzen\Model\Method\Standard</model>
                <group>payzen</group>
                <payment_action>authorize</payment_action>

                <active>1</active>
                <title>Payment by credit card</title>
                <display_title>1</display_title>
                <sort_order>1</sort_order>
                <module_logo>standard-logo.png</module_logo>

                <allowspecific>0</allowspecific>

                <validation_mode>-1</validation_mode>
                <payment_cards></payment_cards>

                <card_info_mode>1</card_info_mode>
                <oneclick_active>0</oneclick_active>

                <rest_theme>neon</rest_theme>
                <rest_update_order>0</rest_update_order>
            </payzen_standard>

            <payzen_multi>
                <model>Lyranetwork\Payzen\Model\Method\Multi</model>
                <group>payzen</group>
                <payment_action>authorize</payment_action>

                <active>0</active>
                <title>Payment by credit card in installments</title>
                <sort_order>2</sort_order>
                <module_logo>multi-logo.png</module_logo>

                <allowspecific>0</allowspecific>

                <validation_mode>-1</validation_mode>
                <payment_cards></payment_cards>

                <card_info_mode>1</card_info_mode>
            </payzen_multi>

            <payzen_gift>
                <model>Lyranetwork\Payzen\Model\Method\Gift</model>
                <group>payzen</group>
                <payment_action>authorize</payment_action>

                <active>0</active>
                <title>Payment by gift card</title>
                <sort_order>3</sort_order>
                <module_logo>gift-logo.png</module_logo>

                <allowspecific>0</allowspecific>

                <validation_mode>-1</validation_mode>
            </payzen_gift>

            <payzen_choozeo>
                <model>Lyranetwork\Payzen\Model\Method\Choozeo</model>
                <group>payzen</group>
                <payment_action>authorize</payment_action>

                <active>0</active>
                <title>Payment with Choozeo without fees</title>
                <sort_order>4</sort_order>
                <module_logo>choozeo-logo.png</module_logo>

                <allowspecific>1</allowspecific>
                <specificcountry>FR,GF,GP,MQ,RE,YT</specificcountry>
                <specificcountry_display>France</specificcountry_display>
            </payzen_choozeo>

            <payzen_oney>
                <model>Lyranetwork\Payzen\Model\Method\Oney</model>
                <group>payzen</group>
                <payment_action>authorize</payment_action>

                <active>0</active>
                <title>Payment with Oney</title>
                <sort_order>5</sort_order>
                <module_logo>oney-logo.png</module_logo>

                <allowspecific>0</allowspecific>

                <validation_mode>-1</validation_mode>
            </payzen_oney>

            <payzen_fullcb>
                <model>Lyranetwork\Payzen\Model\Method\Fullcb</model>
                <group>payzen</group>
                <payment_action>authorize</payment_action>

                <active>0</active>
                <title>Payment with Full CB</title>
                <sort_order>6</sort_order>
                <module_logo>fullcb-logo.png</module_logo>

                <allowspecific>1</allowspecific>
                <specificcountry>FR</specificcountry>
                <specificcountry_display>France</specificcountry_display>

                <enable_payment_options>0</enable_payment_options>
            </payzen_fullcb>

            <payzen_franfinance>
                <model>Lyranetwork\Payzen\Model\Method\Franfinance</model>
                <group>payzen</group>
                <payment_action>authorize</payment_action>

                <active>0</active>
                <title>Payment with Franfinance</title>
                <sort_order>7</sort_order>
                <module_logo>franfinance-logo.png</module_logo>

                <allowspecific>1</allowspecific>
                <specificcountry>FR</specificcountry>
                <specificcountry_display>France</specificcountry_display>
            </payzen_franfinance>

            <payzen_sepa>
                <model>Lyranetwork\Payzen\Model\Method\Sepa</model>
                <group>payzen</group>
                <payment_action>authorize</payment_action>

                <active>0</active>
                <title>Payment with SEPA</title>
                <sort_order>8</sort_order>
                <module_logo>sepa-logo.png</module_logo>

                <allowspecific>0</allowspecific>

                <mandate_mode>PAYMENT</mandate_mode>
                <oneclick_active>0</oneclick_active>
            </payzen_sepa>

            <payzen_paypal>
                <model>Lyranetwork\Payzen\Model\Method\Paypal</model>
                <group>payzen</group>
                <payment_action>authorize</payment_action>

                <active>0</active>
                <title>Payment with PayPal</title>
                <sort_order>9</sort_order>
                <module_logo>paypal-logo.png</module_logo>

                <allowspecific>0</allowspecific>

                <validation_mode>-1</validation_mode>
            </payzen_paypal>

            <payzen_other>
                <model>Lyranetwork\Payzen\Model\Method\Other</model>
                <group>payzen</group>
                <payment_action>authorize</payment_action>

                <active>0</active>
                <title>Other payment means</title>
                <sort_order>10</sort_order>
                <module_logo>other-logo.png</module_logo>

                <allowspecific>0</allowspecific>
                <regroup_payment_means>0</regroup_payment_means>

                <validation_mode>-1</validation_mode>
            </payzen_other>
        </payment>
    </default>
</config>