<?xml version="1.0" encoding="UTF-8"?>
<!--
/**
 * PayZen V2-Payment Module version 1.7.1 for Magento 1.4-1.9. Support contact : support@payzen.eu.
 *
 * NOTICE OF LICENSE
 *
 * This source file is licensed under the Open Software License version 3.0
 * that is bundled with this package in the file LICENSE.txt.
 * It is also available through the world-wide-web at this URL:
 * http://opensource.org/licenses/osl-3.0.php
 *
 * @category  payment
 * @package   payzen
 * @author    Lyra Network (http://www.lyra-network.com/)
 * @copyright 2014-2017 Lyra Network and contributors
 * @license   http://opensource.org/licenses/osl-3.0.php  Open Software License (OSL 3.0)
 */
-->

<config>
    <!-- version -->
    <modules>
        <Lyra_Payzen>
            <version>1.7.1</version>
        </Lyra_Payzen>
    </modules>

    <global>
        <helpers>
            <payzen>
                <class>Lyra_Payzen_Helper</class>
            </payzen>
        </helpers>
        <models>
            <payzen>
                <class>Lyra_Payzen_Model</class>
            </payzen>

            <sales>
                <rewrite>
                    <order>Lyra_Payzen_Model_Order</order>
                </rewrite>
            </sales>
        </models>
        <blocks>
            <payzen>
                <class>Lyra_Payzen_Block</class>
            </payzen>
        </blocks>
        <resources>
            <payzen_setup>
                <setup>
                    <module>Lyra_Payzen</module>
                    <class>Lyra_Payzen_Model_Resource_Setup</class>
                </setup>
            </payzen_setup>
        </resources>
        <sales>
            <order>
                <statuses>
                    <payment_review translate="label">
                        <label>Payment Review</label>
                    </payment_review>
                    <payzen_to_validate translate="label">
                        <label>To validate payment</label>
                    </payzen_to_validate>
                </statuses>
                <states>
                    <payment_review translate="label">
                        <label>Payment Review</label>
                        <statuses>
                            <payment_review default="1"/>
                            <payzen_to_validate/>
                        </statuses>
                        <visible_on_front>1</visible_on_front>
                    </payment_review>
                </states>
            </order>
        </sales>

        <!-- admin parameter options -->
        <payment>
            <payzen>
                <!-- context mode values -->
                <ctx_modes>
                    <test>
                        <code>TEST</code>
                        <name>TEST</name>
                    </test>
                    <production>
                        <code>PRODUCTION</code>
                        <name>PRODUCTION</name>
                    </production>
                </ctx_modes>

                <!-- validation mode values -->
                <validation_modes>
                    <general>
                        <code>-1</code>
                        <name>PayZen general configuration</name>
                    </general>
                    <default>
                        <code></code>
                        <name>Back Office configuration</name>
                    </default>
                    <automatic>
                        <code>0</code>
                        <name>Automatic</name>
                    </automatic>
                    <manual>
                        <code>1</code>
                        <name>Manual</name>
                    </manual>
                </validation_modes>

                <!-- return mode values -->
                <return_modes>
                    <get>
                        <code>GET</code>
                        <name>GET (parameters in the URL)</name>
                    </get>
                    <post>
                        <code>POST</code>
                        <name>POST (form)</name>
                    </post>
                </return_modes>

                <!-- default gift cards -->
                <gift_cards>
                    <illicado>
                        <code>ILLICADO</code>
                        <name>Carte Illicado</name>
                    </illicado>
                    <illicado_sb>
                        <code>ILLICADO_SB</code>
                        <name>Carte Illicado (sandbox)</name>
                    </illicado_sb>
                    <truffaut_cdx>
                        <code>TRUFFAUT_CDX</code>
                        <name>Carte Cadeau Truffaut</name>
                    </truffaut_cdx>
                    <alinea_cdx>
                        <code>ALINEA_CDX</code>
                        <name>Carte Cadeau Alinéa</name>
                    </alinea_cdx>
                    <alinea_cdx_sb>
                        <code>ALINEA_CDX_SB</code>
                        <name>Carte Cadeau Alinéa (sandbox)</name>
                    </alinea_cdx_sb>
                </gift_cards>

                <!-- card info modes -->
                <card_info_modes>
                    <action1>
                        <code>1</code>
                        <name>Card data entry on payment platform</name>
                    </action1>
                    <action2>
                        <code>2</code>
                        <name>Card type selection on merchant site</name>
                    </action2>
                    <action3>
                        <code>3</code>
                        <name>Card data entry on merchant site</name>
                    </action3>
                    <action4>
                        <code>4</code>
                        <name>Payment page integrated to checkout process</name>
                    </action4>
                </card_info_modes>

                <!-- card register modes -->
                <card_register_modes>
                    <unchecked>
                        <code>1</code>
                        <name>Registration off by default</name>
                    </unchecked>
                    <checked>
                        <code>2</code>
                        <name>Registration on by default</name>
                    </checked>
                    <hidden>
                        <code>3</code>
                        <name>Registration always on</name>
                    </hidden>
                </card_register_modes>

                <one_click_locations>
                    <product>
                        <code>PRODUCT</code>
                        <name>Product page</name>
                    </product>
                    <cart>
                        <code>CART</code>
                        <name>Cart page</name>
                    </cart>
                    <both>
                        <code>BOTH</code>
                        <name>Product and cart pages</name>
                    </both>
                </one_click_locations>

                <!-- PayZen product categories -->
                <product_categories>
                    <food_and_grocery>
                        <code>FOOD_AND_GROCERY</code>
                        <name>Food and grocery</name>
                    </food_and_grocery>
                    <automotive>
                        <code>AUTOMOTIVE</code>
                        <name>Automotive</name>
                    </automotive>
                    <entertainment>
                        <code>ENTERTAINMENT</code>
                        <name>Entertainment</name>
                    </entertainment>
                    <home_and_garden>
                        <code>HOME_AND_GARDEN</code>
                        <name>Home and garden</name>
                    </home_and_garden>
                    <home_appliance>
                        <code>HOME_APPLIANCE</code>
                        <name>Home appliance</name>
                    </home_appliance>
                    <auction_and_group_buying>
                        <code>AUCTION_AND_GROUP_BUYING</code>
                        <name>Auction and group buying</name>
                    </auction_and_group_buying>
                    <flowers_and_gifts>
                        <code>FLOWERS_AND_GIFTS</code>
                        <name>Flowers and gifts</name>
                    </flowers_and_gifts>
                    <computer_and_software>
                        <code>COMPUTER_AND_SOFTWARE</code>
                        <name>Computer and software</name>
                    </computer_and_software>
                    <health_and_beauty>
                        <code>HEALTH_AND_BEAUTY</code>
                        <name>Health and beauty</name>
                    </health_and_beauty>
                    <service_for_individual>
                        <code>SERVICE_FOR_INDIVIDUAL</code>
                        <name>Service for individual</name>
                    </service_for_individual>
                    <service_for_business>
                        <code>SERVICE_FOR_BUSINESS</code>
                        <name>Service for business</name>
                    </service_for_business>
                    <sports>
                        <code>SPORTS</code>
                        <name>Sports</name>
                    </sports>
                    <clothing_and_accessories>
                        <code>CLOTHING_AND_ACCESSORIES</code>
                        <name>Clothing and accessories</name>
                    </clothing_and_accessories>
                    <travel>
                        <code>TRAVEL</code>
                        <name>Travel</name>
                    </travel>
                    <home_audio_photo_video>
                        <code>HOME_AUDIO_PHOTO_VIDEO</code>
                        <name>Home audio, photo, video</name>
                    </home_audio_photo_video>
                    <telephony>
                        <code>TELEPHONY</code>
                        <name>Telephony</name>
                    </telephony>
                </product_categories>

                <!-- card info modes -->
                <multi_card_info_modes>
                    <action1>
                        <code>1</code>
                        <name>On payment platform</name>
                    </action1>
                    <action2>
                        <code>2</code>
                        <name>On merchant site</name>
                    </action2>
                </multi_card_info_modes>
            </payzen>
        </payment>

        <events>
            <sales_quote_payment_save_before>
                <observers>
                    <payzen_payment_multi_update>
                        <type>singleton</type>
                        <class>payzen/observer</class>
                        <method>doPaymentMultiUpdate</method>
                    </payzen_payment_multi_update>
                </observers>
            </sales_quote_payment_save_before>

            <sales_order_payment_save_before>
                <observers>
                    <payzen_payment_multi_update>
                        <type>singleton</type>
                        <class>payzen/observer</class>
                        <method>doPaymentMultiUpdate</method>
                    </payzen_payment_multi_update>
                </observers>
            </sales_order_payment_save_before>

            <core_block_abstract_to_html_before>
                <observers>
                    <payzen_oneclick_quote_process>
                        <type>singleton</type>
                        <class>payzen/observer</class>
                        <method>doOneclickQuoteProcess</method>
                    </payzen_oneclick_quote_process>
                </observers>
            </core_block_abstract_to_html_before>

            <customer_logout>
                <observers>
                    <payzen_oneclick_unset_quote>
                        <class>payzen/observer</class>
                        <method>doOneclickUnsetQuote</method>
                    </payzen_oneclick_unset_quote>
                </observers>
            </customer_logout>
        </events>

        <payment>
            <groups>
                <payzen>PayZen</payzen>
            </groups>
        </payment>
    </global>

    <adminhtml>
        <layout>
            <updates>
                <payzen>
                    <file>payzen.xml</file>
                </payzen>
            </updates>
        </layout>

        <!-- translation for admin -->
        <translate>
            <modules>
                <Lyra_Payzen>
                    <files>
                        <default>Lyra_Payzen.csv</default>
                    </files>
                </Lyra_Payzen>
            </modules>
        </translate>

        <events>
            <sales_model_service_quote_submit_after>
                <observers>
                    <payzen_payment_redirect>
                        <type>singleton</type>
                        <class>payzen/observer</class>
                        <method>doPaymentRedirect</method>
                    </payzen_payment_redirect>
                </observers>
            </sales_model_service_quote_submit_after>

            <adminhtml_block_html_before>
                <observers>
                    <payzen_payment_method_column_append>
                        <type>singleton</type>
                        <class>payzen/observer</class>
                        <method>doPaymentMethodColumnAppend</method>
                    </payzen_payment_method_column_append>
                </observers>
            </adminhtml_block_html_before>

            <adminhtml_widget_container_html_before>
                <observers>
                    <payzen_payment_buttons_manage>
                        <type>singleton</type>
                        <class>payzen/observer</class>
                        <method>doPaymentButtonsManage</method>
                    </payzen_payment_buttons_manage>
                </observers>
            </adminhtml_widget_container_html_before>

            <controller_action_layout_render_before_adminhtml_system_config_edit>
                <observers>
                    <payzen_after_payment_section_edit>
                        <type>singleton</type>
                        <class>payzen/observer</class>
                        <method>doAfterPaymentSectionEdit</method>
                    </payzen_after_payment_section_edit>
                </observers>
            </controller_action_layout_render_before_adminhtml_system_config_edit>
        </events>
    </adminhtml>

    <!-- controllers mapping -->
    <frontend>
        <layout>
            <updates>
                <payzen>
                    <file>payzen.xml</file>
                </payzen>
            </updates>
        </layout>
        <routers>
            <payzen>
                <use>standard</use>
                <args>
                    <module>Lyra_Payzen</module>
                    <frontName>payzen</frontName>
                </args>
            </payzen>
        </routers>
        <translate>
            <modules>
                <Lyra_Payzen>
                    <files>
                        <default>Lyra_Payzen.csv</default>
                    </files>
                </Lyra_Payzen>
            </modules>
        </translate>
    </frontend>

    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <Lyra_Payzen before="Mage_Adminhtml">Lyra_Payzen_Adminhtml</Lyra_Payzen>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>

    <!-- default configuration values -->
    <default>
        <payment>
            <payzen>
                <developed_by>Lyra Network</developed_by>
                <contact_email>support@payzen.eu</contact_email>
                <module_version>1.7.1</module_version>
                <gateway_version>V2</gateway_version>
                <enable_logs>1</enable_logs>
                <title>PayZen</title>

                <site_id>12345678</site_id>
                <key_test>1111111111111111</key_test>
                <key_prod>2222222222222222</key_prod>
                <ctx_mode>TEST</ctx_mode>
                <platform_url>https://secure.payzen.eu/vads-payment/</platform_url>

                <language>fr</language>
                <validation_mode></validation_mode>

                <redirect_enabled>0</redirect_enabled>
                <redirect_success_timeout>5</redirect_success_timeout>
                <redirect_success_message>Redirection vers la boutique dans quelques instants...</redirect_success_message>
                <redirect_error_timeout>5</redirect_error_timeout>
                <redirect_error_message>Redirection vers la boutique dans quelques instants...</redirect_error_message>
                <return_mode>GET</return_mode>
                <check_url>payzen/payment/check</check_url>
                <registered_order_status>processing</registered_order_status>
                <capture_auto>1</capture_auto>

                <common_category>FOOD_AND_GROCERY</common_category>
            </payzen>

            <payzen_standard>
                <model>payzen/payment_standard</model>
                <group>payzen</group>

                <active>1</active>
                <allowspecific>0</allowspecific>
                <title>Paiement par carte bancaire</title>
                <sort_order>1</sort_order>
                <module_logo>standard.png</module_logo>
                <payment_action>authorize</payment_action>

                <validation_mode>-1</validation_mode>
                <payment_cards></payment_cards>
                <use_oney_in_standard>0</use_oney_in_standard>

                <card_info_mode>1</card_info_mode>
                <one_click_active>0</one_click_active>
                <one_click_title>Acheter maintenant</one_click_title>
                <one_click_location>BOTH</one_click_location>
                <card_register_mode>1</card_register_mode>
                <card_register_message><![CDATA[Cochez cette case pour enregistrer les données de votre carte et effectuer des paiements en un clic. <b>Les données de la carte seront enregistrées sur le serveur sécurisé de la plateforme de paiement.</b>]]></card_register_message>
            </payzen_standard>

            <payzen_multi>
                <model>payzen/payment_multi</model>
                <group>payzen</group>

                <active>0</active>
                <allowspecific>0</allowspecific>
                <title>Paiement par carte bancaire en plusieurs fois</title>
                <sort_order>2</sort_order>
                <module_logo>multi.png</module_logo>
                <payment_action>authorize</payment_action>

                <validation_mode>-1</validation_mode>
                <payment_cards></payment_cards>

                <card_info_mode>1</card_info_mode>
            </payzen_multi>

            <payzen_gift>
                <model>payzen/payment_gift</model>
                <group>payzen</group>

                <active>0</active>
                <allowspecific>0</allowspecific>
                <title>Paiement par carte cadeau</title>
                <sort_order>3</sort_order>
                <module_logo>gift.png</module_logo>
                <payment_action>authorize</payment_action>

                <validation_mode>-1</validation_mode>
            </payzen_gift>

            <payzen_cof3xcb>
                <model>payzen/payment_cof3xcb</model>
                <group>payzen</group>

                <active>0</active>
                <allowspecific>0</allowspecific>
                <title>Cofinoga 3 fois CB</title>
                <sort_order>4</sort_order>
                <module_logo>cof3xcb.png</module_logo>
                <payment_action>authorize</payment_action>

                <validation_mode>-1</validation_mode>
            </payzen_cof3xcb>

            <payzen_oney>
                <model>payzen/payment_oney</model>
                <group>payzen</group>

                <active>0</active>
                <allowspecific>1</allowspecific>
                <specificcountry>FR</specificcountry>
                <title>FacilyPay Oney</title>
                <sort_order>5</sort_order>
                <module_logo>oney.png</module_logo>
                <payment_action>authorize</payment_action>

                <validation_mode>-1</validation_mode>

                <enable_payment_options>0</enable_payment_options>
            </payzen_oney>

            <payzen_paypal>
                <model>payzen/payment_paypal</model>
                <group>payzen</group>

                <active>0</active>
                <allowspecific>0</allowspecific>
                <title>Paiement PayPal</title>
                <sort_order>6</sort_order>
                <module_logo>paypal.png</module_logo>
                <payment_action>authorize</payment_action>

                <validation_mode>-1</validation_mode>
            </payzen_paypal>

            <payzen_sofort>
                <model>payzen/payment_sofort</model>
                <group>payzen</group>

                <active>0</active>
                <allowspecific>0</allowspecific>
                <title>Paiement Sofort Banking</title>
                <sort_order>7</sort_order>
                <module_logo>sofort_banking.png</module_logo>
                <payment_action>authorize</payment_action>
            </payzen_sofort>

            

            

            <payzen_ideal>
                <model>payzen/payment_ideal</model>
                <group>payzen</group>

                <active>0</active>
                <allowspecific>1</allowspecific>
                <specificcountry>NL</specificcountry>
                <title>Paiement iDEAL</title>
                <sort_order>10</sort_order>
                <module_logo>ideal.png</module_logo>
                <payment_action>authorize</payment_action>
            </payzen_ideal>
        </payment>
    </default>
</config>