.payzen-standard-cc-block {
    display: none;
}

.payzen-sepa-cc-block {
    display: none;
}

ul.payzen-identifier {
    list-style-type: none;
    display: initial;
}

a.payzen-payment-link {
    color: #39C;
    text-decoration: none;
    font-family: Georgia,Times,"Times New Roman",serif;
    font-size: 16px;
}

.kr-form-error span a {
    all: inherit !important;
    text-decoration: underline !important;
    cursor: pointer !important;
}

.payzen-multi fieldset div.field {
    float: left;
    width: 50%;
}

.payzen-choozeo fieldset div.field {
    float: left;
    width: 50%;
}
.payzen-payment-option ul {
    padding: 5px 5px;
}

.payzen-other fieldset div.field {
    float: left;
    width: 50%;
}

.payzen_review .small {
    font-size: 10px;
}

.payzen_review {
    margin-top: 10px;
    margin-left: 20px;
    border: 1px solid black;
    font-size: 13px !important;
    width: 50%;
}

.payzen_review thead tr {
    border-bottom: 1px solid black;
}

.payzen_review .payzen_bold {
    font-weight: bold;
}

.payzen_review td, .payzen_review th {
    padding: 5px 5px;
}

button.kr-popin-button {
    display: none !important;
    width: 0;
    height: 0;
}

.kr-smart-form .kr-smart-form-wrapper.kr-type-popin button.kr-smart-form-modal-button {
    display: none !important;
}

div.kr-smart-form-list-section-name {
    font-weight: bold !important;
}

div.payzen-hide-wallet-elements {
    display: none !important;
}

.payzen-card {
    display: inline !important;
}

.payzen-card img, .payzen-card span {
    vertical-align: middle;
    margin-right: 10px;
}

.payzen-card img {
    max-width: 90px;
    max-height: 30px;
}

.payzen-card span {
    height: 30px;
}

.payzen-confirm-delete {
    max-width: 750px;
    margin: auto;
}

.payzen-confirm-delete .modal-footer {
    text-align: right;
}

.loading-mask .loader p {
    display: block;
    font-size: 16px;
    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -50px;
    margin-left: -100px;
}
